<h2> Add a Quote </h2>

<form action="/addQuote/:id" method="post">
  <label for="addQuoteInput">Add Your Quote</label>
  <input id="addQuoteInput" type="text" name="quoteInput" />
  <br />

  <label for="addSongInput">From What Song</label>
  <input id="addSongInput" type="text" name="songInput" />
  <br />

  <label for="addArtistInput">Which Artist Said this Quote?</label>
  <input id="addArtistInput" type="text" name="artistInput" />
  <br />

  <button>Save Your Quote</button>
</form>