


<div id="contentNewQuote">
  <h1>New Quotebook</h1>
   <form action="/user/new-quotebook" method="POST">
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="Quotebook name" name="name">
    </div>             
  </form>
</div>
 



  
