


<div id="contentNewQuote">
  <div>
    <span class="letter" data-letter="N">New</span>
    <span class="letter" data-letter="Q">Quotebook</span>
  </div>
 
   <form action="/user/new-quotebook" method="POST">
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="e.g. Eminem Quotes" name="name" required>
    </div>
    <div>
      <input type="submit" class="btn btn-success btn-block"  value="Create">
    </div>             
  </form>
  
</div>
 
 



  
