


<div id="quotebooksDiv">
    <span class="letter" data-letter="P">Profile</span>
    <h1 id="welcomeMessage">Welcome, {{user.username}}</h1>
    <img src="../images/LogoCircular.png" alt="" id="loading">
</div>


