


<div id="quotebooksDiv">
    <span class="letter" data-letter="P">Profile</span>
    <h1 id="welcomeMessage">Welcome, {{user.username}}</h1>
    <h7 id="clickOnTheLogoMessage">(Click on the logo to play some music)</h7>
    <img src="../images/LogoCircular.png" alt="" class="loading">
</div>

<audio id="myAudio">
  <source src="../music/bensound-jazzyfrenchy.mp3" type="audio/ogg">
</audio>

<audio id="myAudio2">
  <source src="../music/bensound-erf.mp3" type="audio/ogg">
</audio>

<audio id="myAudio3">
  <source src="../music/bensound-dreams.mp3" type="audio/ogg">
</audio>

<audio id="myAudio4">
  <source src="../music/bensound-punky.mp3" type="audio/ogg">
</audio>

<audio id="myAudio5">
  <source src="../music/bensound-hey.mp3" type="audio/ogg">
</audio>

<audio id="myAudio6">
  <source src="../music/bensound-moose.mp3" type="audio/ogg">
</audio>





